<div *ngIf="remoteIp">
    <h2>{{remoteIp.address}} details!</h2>
    <div class="well">
        <div class="row">
            <label class="col-sm-2">id: </label>
            <ul class="col-sm-2">{{remoteIp.id}}</ul>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label">Address: </label>
            <div class="form-inline">
                <div class="form-group">
                    <input class="form-control" [(ngModel)]="remoteIp.address" placeholder="address" />
                </div>
            </div>
        </div>
        <div class="row"></div>
            <div class="form-inline">
                <button  class="btn btn-bg btn-primary" (click)="goBack()">Back</button>
            </div>
        </div>
</div>