<h2>Queue types</h2>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2"
       routerLink="new" routerLinkActive="active">Add new queue type</a>
</div>
<div class="row">
<table class="table table">
    <tr>
        <th class="col-sm-1">id</th>
        <th class="col-sm-1">type</th>
        <th class="col-sm-1"></th>
        <!--<th class="col-sm-1"></th>-->
    </tr>
</table>
<table class="table table">
    <tr *ngFor="let queueType of queueTypes"
        [ngClass]="{'active': selectedQueueType == queueType}"
        (mouseover)="onSelect(queueType)">
        <td class="col-sm-1">{{queueType.id}}</td>
        <td class="col-sm-1">{{queueType.type}}</td>
        <td *ngIf="selectedQueueType == queueType; then selectedrow else unselectedrow">
        </td>
        <ng-template #selectedrow>
            <!--<td class="col-sm-1"><button class="btn btn-sm btn-primary"-->
                                         <!--(click)="goToDetail()">View Details</button></td>-->
            <td class="col-sm-1"><button class="btn btn-sm btn-danger"
                                         (click)="delete(queueType); $event.stopPropagation()">Delete</button></td>
        </ng-template>
        <ng-template #unselectedrow>
            <td class="col-sm-1"></td>
            <!--<td class="col-sm-1"></td>-->
        </ng-template>
    </tr>
</table>
</div>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new" routerLinkActive="active">Add new remote IP</a>
</div>
