<form #queueTypeForm="ngForm" (ngSubmit)="onFormSubmit(queueTypeForm)">
    <div class="form-group row">
        <div class="col-xs-3">
            <label>Add new queue type: </label>
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="type" required minlength="2"
                   [(ngModel)]="queueType.type" name="type" #type="ngModel"/>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-md btn-primary col-xs-8">Add</button>
        </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">
        <p>{{error}}</p>
        <p>234234234</p>
    </div>
    <div *ngIf="type.invalid && (type.dirty || type.touched)"
         class="alert alert-danger">
        <div *ngIf="type.errors.required">
            type is required.
        </div>
        <div *ngIf="type.errors.minlength">
            type must be at least 4 characters long.
        </div>
    </div>
</form>