<h2>Nets</h2>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new" routerLinkActive="active">Add new net</a>
</div>
<div class="row">
<table class="table table">
    <tr>
        <th class="col-sm-1">id</th>
        <th class="col-sm-1">address</th>
        <th class="col-sm-1">mask</th>
        <th class="col-sm-1"></th>
        <!--<th class="col-sm-1"></th>-->
    </tr>
</table>
<table class="table table">
    <tr *ngFor="let net of nets"
        [ngClass]="{'active': selectedNet == net}"
        (mouseover)="onSelect(net)">
        <td class="col-sm-1">{{net.id}}</td>
        <td class="col-sm-1">{{net.firstOctet}}.{{net.secondOctet}}.{{net.thirdOctet}}.{{net.lastOctet}}</td>
        <td class="col-sm-1">{{net.mask}}</td>
        <td *ngIf="selectedNet == net; then selectedrow else unselectedrow">
        </td>
        <ng-template #selectedrow>
            <!--<td class="col-sm-1">-->
                <!--<button class="btn btn-sm btn-primary"-->
                                         <!--(click)="goToDetail()">View Details</button>-->
            <!--</td>-->
            <td class="col-sm-1">
                <button class="btn btn-sm btn-danger"
                        (click)="delete(net);
                        $event.stopPropagation()">Delete</button>
            </td>
        </ng-template>
        <ng-template #unselectedrow>
            <td class="col-sm-1"></td>
            <!--<td class="col-sm-1"></td>-->
        </ng-template>
    </tr>
</table>
</div>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new" routerLinkActive="active">Add new remote IP</a>
</div>
