<form #localIpForm="ngForm" (ngSubmit)="onFormSubmit(localIpForm)">
    <div class="form-group row">
        <div class="col-xs-3">
            <label>Add new local IP address: </label>
        </div>
        <div class="col-xs-3">
            <select class="form-control" title="Choose net" name="net" [(ngModel)]="net">
              <option [ngValue]="null" disabled selected>Choose user</option>
                <option *ngFor="let net of nets" [ngValue]="net">
                    {{net.firstOctet}}
                    .{{net.secondOctet}}
                    .{{net.thirdOctet}}
                </option>
            </select>
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="address" required minlength="1"
                   [(ngModel)]="localIp.address" name="address" #address="ngModel" placeholder="ip"/>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-md btn-primary col-xs-8">Add</button>
        </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">
        <p>{{error}}</p>
    </div>
    <div *ngIf="address.invalid && (address.dirty || address.touched)"
         class="alert alert-danger">
        <div *ngIf="address.errors.required">
            IP address is required.
        </div>
        <div *ngIf="address.errors.minlength">
            IP address must be at least 4 characters long.
        </div>
    </div>
</form>

