<h2>Providers</h2>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new"
       routerLinkActive="active">Add new provider</a>
</div>
<div class="row">
<table class="table table">
    <tr>
        <th class="col-sm-1">id</th>
        <th class="col-sm-1">name</th>
        <th class="col-sm-1">pktMark</th>
        <th class="col-sm-1"></th>
        <!--<th class="col-sm-1"></th>-->
    </tr>
</table>
<table class="table table">
    <tr *ngFor="let provider of providers"
        [ngClass]="{'active': selectedProvider == provider}"
        (mouseover)="onSelect(provider)">
        <td class="col-sm-1">{{provider.id}}</td>
        <td class="col-sm-1">{{provider.name}}</td>
        <td class="col-sm-1">{{provider.pktMark}}</td>
        <td *ngIf="selectedProvider == provider; then selectedrow else unselectedrow">
        </td>
        <ng-template #selectedrow>
            <!--<td class="col-sm-1"><button class="btn btn-sm btn-primary"-->
                                         <!--(click)="goToDetail()">View Details</button></td>-->
            <td class="col-sm-1"><button class="btn btn-sm btn-danger"
                                         (click)="delete(provider); $event.stopPropagation()">Delete</button></td>
        </ng-template>
        <ng-template #unselectedrow>
            <td class="col-sm-1"></td>
            <!--<td class="col-sm-1"></td>-->
        </ng-template>
    </tr>
</table>
</div>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new"
       routerLinkActive="active">Add new provider</a>
</div>
