<h2>User IP</h2>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new" routerLinkActive="active">Add new user IP</a>
</div>
<div class="row">
<table class="table table">
    <tr>
        <th class="col-sm-1">id</th>
        <th class="col-sm-1">User</th>
        <th class="col-sm-1">IP</th>
        <th class="col-sm-1"></th>
        <!--<th class="col-sm-1"></th>-->
    </tr>
</table>
<table class="table table">
    <tr *ngFor="let userIp of userIps"
        [ngClass]="{'active': selectedUserIp == userIp}"
        (mouseover)="onSelect(userIp)">
        <td class="col-sm-1">{{userIp.id}}</td>
        <td class="col-sm-1">{{userIp.user.username}}</td>
        <td class="col-sm-1">
            {{userIp.firstOctet}}
          .{{userIp.secondOctet}}
          .{{userIp.thirdOctet}}
          .{{userIp.lastOctet}}
        </td>
        <td *ngIf="selectedUserIp == userIp; then selectedrow else unselectedrow">
        </td>
        <ng-template #selectedrow>
            <!--<td class="col-sm-1">-->
                <!--<button class="btn btn-sm btn-primary"-->
                                         <!--(click)="goToDetail()">View Details</button>-->
            <!--</td>-->
            <td class="col-sm-1">
                <button class="btn btn-sm btn-danger"
                                         (click)="delete(userIp); $event.stopPropagation()">Delete</button>
            </td>
        </ng-template>
        <ng-template #unselectedrow>
            <td class="col-sm-1"></td>
        </ng-template>
    </tr>
</table>
</div>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new" routerLinkActive="active">Add new userIp</a>
</div>
