<form #trafficQueueForm="ngForm" (ngSubmit)="onFormSubmit(trafficQueueForm)">
    <div class="form-group row">
        <div class="col-xs-3">
            <label>Add new trafficQueue: </label>
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="name" required minlength="1"
                   [(ngModel)]="trafficQueue.name" name="name" #name="ngModel"/>
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="pktMark" required minlength="1"
                   [(ngModel)]="trafficQueue.pktLoss" name="pktLoss" #pktLoss="ngModel"/>
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="pktLatency" required minlength="1"
                   [(ngModel)]="trafficQueue.pktLatency" name="pktLatency" #pktLatency="ngModel"/>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-md btn-primary col-xs-8">Add</button>
        </div>
    </div>
    <div class="form-group row">
        <div *ngIf="error" class="alert alert-danger">
            <p>{{error}}</p>
            <p>234234234</p>
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">
            <div *ngIf="name.errors.required">
                name is required.
            </div>
            <div *ngIf="name.errors.minlength">
                IP address must be at least 1 characters long.
            </div>
        </div>
    </div>
</form>
