<h2>Traffic queues</h2>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new" routerLinkActive="active">Add new queue</a>
</div>
<div class="row">
<table class="table table">
    <tr>
        <th class="col-sm-1">id</th>
        <th class="col-sm-1">Name</th>
        <th class="col-sm-1">PktLoss</th>
        <th class="col-sm-1">PktLatency</th>
        <th class="col-sm-1"></th>
        <!--<th class="col-sm-1"></th>-->
    </tr>
</table>
<table class="table table">
    <tr *ngFor="let trafficQueue of trafficQueues"
        [ngClass]="{'active': selectedTrafficQueue == trafficQueue}"
        (mouseover)="onSelect(trafficQueue)">
        <td class="col-sm-1">{{trafficQueue.id}}</td>
        <td class="col-sm-1">{{trafficQueue.name}}</td>
        <td class="col-sm-1">{{trafficQueue.pktLoss}}</td>
        <td class="col-sm-1">{{trafficQueue.pktLatency}}</td>
        <td *ngIf="selectedTrafficQueue == trafficQueue; then selectedrow else unselectedrow">
        </td>
        <ng-template #selectedrow>
            <!--<td class="col-sm-1"><button class="btn btn-sm btn-primary"-->
                                         <!--(click)="goToDetail()">View Details</button></td>-->
            <td class="col-sm-1"><button class="btn btn-sm btn-danger"
                                         (click)="delete(trafficQueue); $event.stopPropagation()">Delete</button></td>
        </ng-template>
        <ng-template #unselectedrow>
            <td class="col-sm-1"></td>
            <!--<td class="col-sm-1"></td>-->
        </ng-template>
    </tr>
</table>
</div>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new" routerLinkActive="active">Add new queue</a>
</div>
