
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <strong class="navbar-brand"><a routerLink="/admin" routerLinkActive="active">{{title}}</a></strong>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="remote-ips" routerLinkActive="active">Remote IP</a>
      </li>
      <li>
        <a routerLink="queue-rules" routerLinkActive="active">Queue rules</a>
      </li>
      <li>
        <a routerLink="../logout" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

